<tr>
  <td><label for="cusfname">First Name</label>:</td>
  <td><input type="text" name="cusfname" id="cusfname" value="<%= cust.cusfname %>" required/></td>
  <td>(Required)</td>
</tr>
<tr>
<td><label for="cuslname">Last Name</label>:</td>
<td><input type="text" name="cuslname" id="cuslname" value="<%= cust.cuslname %>" required/></td>
<td>(Required)</td>
</tr>
<tr>
  <td><label for="cusstate">State</label>:</td>
  <td><input type="text" name="cusstate" id="cusstate" maxlength="2" value="<%= cust.cusstate %>" /></td>
</tr>
<tr>
  <td><label for="cussalesytd">Sales YTD</label>:</td>
  <td><input type="number" name="cussalesytd" id="cussalesytd" value="<%= cust.cussalesytd %>" /></td>
</tr>
<tr>
<td><label for="cussalesprev">Previous Years Sales</label>:</td>
<td><input type="number" name="cussalesprev" id="cussalesprev" value="<%= cust.cussalesprev %>" /></td>
</tr>