<tr>
  <td><label for="cusFname">First Name</label>:</td>
  <td><input type="text" name="cusFname" id="cusFname" value="<%= cust.cusFname %>" required/></td>
  <td>(Required)</td>
</tr>
<tr>
<td><label for="cusLname">Last Name</label>:</td>
<td><input type="text" name="cusLname" id="cusLname" value="<%= cust.cusLname %>" required/></td>
<td>(Required)</td>
</tr>
<tr>
  <td><label for="cusState">State</label>:</td>
  <td><input type="text" name="cusState" id="cusState" maxlength="2" value="<%= cust.cusState %>" /></td>
</tr>
<tr>
  <td><label for="cusSalesYTD">Sales YTD</label>:</td>
  <td><input type="number" name="cusSalesYTD" id="cusSalesYTD" value="<%= cust.cusSalesYTD %>" /></td>
</tr>
<tr>
<td><label for="cusSalesPrev">Previous Years Sales</label>:</td>
<td><input type="number" name="cusSalesPrev" id="cusSalesPrev" value="<%= cust.cusSalesPrev %>" /></td>
</tr>