<%- include("_header") -%>

<h1>Create New Customer</h1>

<form action="/create" method="post">
  <div>
    <table>
      <tr>
        <td><label for="cusid">ID</label>:</td>
        <td><input type="number" name="cusid" id="cusid" value="<%= cust.cusid %>" required/></td>
        <td>(Reequired)</td>
      </tr>

      <%- include("_editor") -%>

      <tr>
        <td span="2">
          <input type="submit" value="Save" class="btn btn-default btn-success"/>
          <a class="btn btn-outline-dark cancel" href="/create">Reset</a>
      </td>
     </tr>
    </table>
  </div>
</form>
<% if (type === "post") { %>
  <% if (message === "success") { %>
      <h3>New Customer Created!</h3>
  <% } else { %>
    <h3> Error Creating New Customer</h3>
    <h4><%= message %></h4> <% }} %>

<%- include("_footer") -%>