<%- include("_header") -%>

<h1>Are you sure you want to delete this Customer?</h1>

<form action="/create" method="post">
  <div>
    <table>

      <tr>
        <td><label for="cusid">ID</label>:</td>
        <td><input readonly type="number" name="cusid" id="cusid" value="<%= cust.cusid %>" required/></td>
      </tr>
      <tr>
        <td><label for="cusfname">First Name</label>:</td>
        <td><input readonly type="text" name="cusfname" id="cusfname" value="<%= cust.cusfname %>" required/></td>
      </tr>
      <tr>
      <td><label for="cuslname">Last Name</label>:</td>
      <td><input readonly type="text" name="cuslname" id="cuslname" value="<%= cust.cuslname %>" required/></td>
      </tr>
      <tr>
        <td><label for="cusstate">State</label>:</td>
        <td><input readonly type="text" name="cusstate" id="cusstate" maxlength="2" value="<%= cust.cusstate %>" /></td>
      </tr>
      <tr>
        <td><label for="cussalesytd">Sales YTD</label>:</td>
        <td><input readonly type="number" name="cussalesytd" id="cussalesytd" value="<%= cust.cussalesytd %>" /></td>
      </tr>
      <tr>
      <td><label for="cussalesprev">Previous Years Sales</label>:</td>
      <td><input readonly type="number" name="cussalesprev" id="cussalesprev" value="<%= cust.cussalesprev %>" /></td>
      </tr>

      <tr>
        <td span="2">
          <input type="submit" value="Delete Customer" class="btn btn-default btn-danger"/>
      </td>
     </tr>
    </table>
  </div>
</form>
<% if (type === "post") { %>
  <% if (message === "success") { %>
      <h3> Customer Deleted Successfully!</h3>
  <% } else { %>
    <h3> Error Deleting Customer</h3>
    <h4><%= message %></h4> <% }} %>

<%- include("_footer") -%>