<%- include("_header") -%>

<h1>Customer Update</h1>

<form action="/edit/<%=cust.custId %>" method="post">
  <div>
    <table>
      <tr>
        <td><label readonly for="cusId">ID</label>:</td>
        <td><input type="number" name="cusId" id="cusId" value="<%= cust.cusId %>" required/></td>
        <td>(Reequired)</td>
      </tr>
      <%- include("_editor") -%>

      <tr>
        <td span="2">
          <input type="submit" value="Update Customer" class="btn btn-default btn-success"/>
      </td>
     </tr>
    </table>
  </div>
</form>
<% if (type === "post") { %>
  <% if (message === "success") { %>
      <h3> Customer Updated Successfully!</h3>
  <% } else { %>
    <h3> Error Updating Customer</h3>
    <h4><%= message %></h4> <% }} %>

    <%- include("_footer") -%>