<%- include("_header") -%>
<br>
<h2>Customer Import</h2>

<p>Total number of records in the database: <%=totRecs%></p>

<p>Select a file with customers for Database Insert.</p><br>

<form action="/import" method="post" enctype="multipart/form-data">
    <input type="file" name="filename" required><br/><br/>
<input type="submit" id="submit" value="Import Customers" class="btn btn-primary "/>
</form>

<% if(type==="post" ) { %>
    <h3>Import Summary</h3>
    <strong><p>Records Processed: <%=processed %> </p></strong>
    <strong> <p>Records Inserted Successfully: <%=inserted%> </p></strong>
    <strong><p>Records not Inserted: <%=notinserted%></p></strong>
    <br>
    <strong><p>Errors:</p></strong>
    <p><%=errors%></p>
<% } %>

<%- include("_footer") -%>